In [0]:
import pandas as pd 
import xml.etree.ElementTree as et 
import glob

mylist = [f for f in glob.glob("/content/*.xml")] # '/content/*.xml' folder name with specific file extension
df_cols = ["file name", "xmin", "ymin", "xmax", "ymax"] #column header name of csv file
rows = []
for list in mylist:
  xtree = et.parse(list) # xml file parsing
  root = xtree.getroot()
  #use ./ for root and then use other child tree name what you want to use
  fname=root.find("./filename").text  
  xmin= root.find("./object/bndbox/xmin").text
  ymin= root.find("./object/bndbox/ymin").text
  xmax= root.find("./object/bndbox/xmax").text
  ymax= root.find("./object/bndbox/ymax").text

  rows.append({"file name": fname, "xmin": xmin, 
                  "ymin": ymin, "xmax": xmax,"ymax": ymax})


out_df = pd.DataFrame(rows, columns = df_cols) #convert into pandas dataframe
out_df.head()
out_df.to_csv('numberplate_1.csv',index = False, header=True) # save as csv

    file name xmin ymin xmax ymax
0   1 (6).jpg  133  292  174  332
1  1 (21).jpg  117  192  271  250